<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>law admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'tech/vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'tech/vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'tech/vendors/jvectormap/jquery-jvectormap.css' %}">
  <link rel="stylesheet" href="{% static 'tech/vendors/flag-icon-css/css/flag-icon.min.css' %}">
  <link rel="stylesheet" href="{% static 'tech/vendors/owl-carousel-2/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'tech/vendors/owl-carousel-2/owl.theme.default.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="{% static 'tech/css/style.css' %}">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="{% static 'tech/images/favicon.png' %}" />
</head>

<style>
  .main{
    background: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.5)
    ),
    url('https://wallpapers.com/images/featured/lawyer-byyvgpisoi6lwdez.jpg');
    background-position: center;
    background-size: cover;
  
  }
  .main_div{
    padding-top: 150px;
    padding-left: 50px;
  }
  .heading{
    font-size: 80px;
    margin-bottom: 0px;
    font-family: 'Times New Roman', Times, serif;

  }
  .text{
    font-size: 30px;
    text-shadow: 0 0 2px;
    font-family: 'Times New Roman', Times, serif;
  }
  
</style>

<body>
  <div class="container-scroller ">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">

      <ul class="nav">
        <li class="nav-item profile">
          <div class="profile-desc">
            <div class="profile-pic">
              <!--                <div class="count-indicator">-->
              <!--                  <img class="img-xs rounded-circle " src="{% static 'tech/images/faces/face15.jpg' %}" alt="">-->
              <!--                  <span class="count bg-success"></span>-->
              <!--                </div>-->
              {% if request.session.username %}
              <div class="profile-name">
                <h5 class="mb-0 font-weight-normal">{{request.session.username}}</h5>

              </div>
              {% endif %}
            </div>
            <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
            <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
              aria-labelledby="profile-dropdown">
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <!--                    <div class="preview-icon bg-dark rounded-circle">-->
                  <!--                      <i class="mdi mdi-settings text-primary"></i>-->
                  <!--                    </div>-->
                </div>
                <!--                  <div class="preview-item-content">-->
                <!--                    <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>-->
                <!--                  </div>-->
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <!--                    <div class="preview-icon bg-dark rounded-circle">-->
                  <!--                      <i class="mdi mdi-onepassword  text-info"></i>-->
                  <!--                    </div>-->
                </div>
                <div class="preview-item-content">
                  <!--                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>-->
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <!--                    <div class="preview-icon bg-dark rounded-circle">-->
                  <!--                      <i class="mdi mdi-calendar-today text-success"></i>-->
                  <!--                    </div>-->
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small"></p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item nav-category">
          <span class="nav-link">Navigation</span>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="{% url 'index_page' %}">
            <span class="menu-icon">
              <i class="mdi mdi-home-outline"></i>
            </span>
            <span>Home</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            <span class="menu-icon">
              <i class="mdi mdi-laptop"></i>
            </span>
            <span class="menu-title">Legal</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="{% url 'add_legal_ent' %}">Add legal Entity</a></li>
              <li class="nav-item"> <a class="nav-link" href="{% url 'display_legal_ent' %}">Display Legal Details</a>
              </li>
              <!--                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>-->
            </ul>
          </div>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
            <span class="menu-icon">
              <i class="mdi mdi-security"></i>
            </span>
            <span class="menu-title">Lawyer</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="auth">
            <ul class="nav flex-column sub-menu">
              <!--                <li class="nav-item"> <a class="nav-link" href="{% url 'add_comp_det' %}"> Add Company Details </a></li>-->
              <!--                <li class="nav-item"> <a class="nav-link" href="{% url 'disp_comp_det' %}"> Display Company Details</a></li>-->
              <li class="nav-item"> <a class="nav-link" href="{% url 'display_lawyer' %}"> Display lawyer</a></li>
              <!--                <li class="nav-item"> <a class="nav-link" href=""> Edit lawyer</a></li>-->
              <!--                <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>-->
            </ul>
          </div>
        </li>
        <!--          <li class="nav-item menu-items">-->
        <!--            <a class="nav-link" href="http://www.bootstrapdash.com/demo/corona-free/jquery/documentation/documentation.html">-->
        <!--              <span class="menu-icon">-->
        <!--                <i class="mdi mdi-file-document-box"></i>-->
        <!--              </span>-->
        <!--              <span class="menu-title">Documentation</span>-->
        <!--            </a>-->
        <!--          </li>-->
      </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
          <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{% static 'tech/images/logo-mini.svg' %}"
              alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <ul class="navbar-nav w-100">
            <!--              <li class="nav-item w-100">-->
            <!--                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">-->
            <!--                  <input type="text" class="form-control" placeholder="Search products">-->
            <!--                </form>-->
            <!--              </li>-->
          </ul>
          <ul class="navbar-nav navbar-nav-right">
            
            <li class="nav-item dropdown">
              <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                {% if request.session.username %}
                <div class="navbar-profile">

                  <p class="mb-0 d-none d-sm-block navbar-profile-name">Welcome {{request.session.username}}</p>
                  <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                </div>
                {% endif %}
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                aria-labelledby="profileDropdown">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-logout text-danger"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <a href="{% url 'admin_logout' %}"><button style="margin-top:-120px; margin-left:60px;"
                        class="btn btn-primary">logout</button></a>
                  </div>
                </a>
              </div>
            </li>
        </div>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          {% block content %}

          <div class="main" style="height: 80vh;">
            <div class="main_div">
              <p class="heading">Law</p>
              <p class="text">The Laws are not to change the heart</p>
              <p class="text">but to restrain the heartless.</p>
            </div>
          </div>

        </div>
        {% endblock %}
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright ©rosemy.com</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'tech/vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'tech/vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'tech/vendors/progressbar.js/progressbar.min.js' %}"></script>
  <script src="{% static 'tech/vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
  <script src="{% static 'tech/vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
  <script src="{% static 'tech/vendors/owl-carousel-2/owl.carousel.min.js' %}"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'tech/js/off-canvas.js' %}"></script>
  <script src="{% static 'tech/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'tech/js/misc.js' %}"></script>
  <script src="{% static 'tech/js/settings.js' %}"></script>
  <script src="{% static 'tech/js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="{% static 'tech/js/dashboard.js' %}"></script>
  <!-- End custom js for this page -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://unpkg.com/sweetalert@2.1.2/dist/sweetalert.min.js"></script>
  {% if messages %}
  {% for i in messages %}
  {% if i.tags == 'warning' %}
  <script>
    swal('{{i}}', '', 'warning')
  </script>
  {% elif i.tags == 'error' %}
  <script>
    swal('{{i}}', '', 'error')
  </script>
  {% elif i.tags == 'success' %}
  <script>
    swal('{{i}}', '', 'success')
  </script>
  {% else %}
  <script>
    swal('{{i}}', '', 'info')
  </script>
  {% endif %}
  {% endfor %}
  {% endif %}
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://unpkg.com/sweetalert@2.1.2/dist/sweetalert.min.js"></script>
  {% if messages %}
  {% for i in messages %}
  {% if i.tags == 'warning' %}
  <script>
    swal('{{i}}', '', 'warning')
  </script>
  {% elif i.tags == 'error' %}
  <script>
    swal('{{i}}', '', 'error')
  </script>
  {% elif i.tags == 'success' %}
  <script>
    swal('{{i}}', '', 'success')
  </script>
  {% else %}
  <script>
    swal('{{i}}', '', 'info')
  </script>
  {% endif %}
  {% endfor %}
  {% endif %}

   
</body>

</html>